.tituloNos{
    text-align: center;
    color: white;
    
     
    }

    .presentacion {

        font-display: flex;
        color: #fff;
        font-size: 15px;
        position: relative;
        
        
      
        margin: auto;
        text-align: justify;



      }

      
    .video {
        height: 500px;
        position: relative;
        margin: auto;
        display: flex;
        
          
      }
