form {
  padding: 50px 55px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: auto;
  width: 340px;

  .formularioContacto {
    display: flex;
    flex-direction: column;
    text-align: left;

    .titulo {
      color: white;
      font-size: 35px;
      text-align: center;
    }

    label {
      color: white;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 15px;
    }

    input,
    textarea {
      padding: 17px 25px;
      border-radius: 25px;
      margin-bottom: 20px;
      background-color: #edfdff;
      border: 2px solid #3403f7c9;
      color: #283529;
      outline: none;
    }
  }
}
